<li>
    {{burger_name}}
    <button class="change-eaten" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}Devoured!{{else}}Chow Time!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>